@media screen and (max-width:1400px) {
    .footer-items h3 {
        max-width: 380px;
        margin: 0 auto;
    }

}


@media screen and (max-width:1200px) {
    .home-page-category-cards-content h3 {
        font-size: 27px;
    }

    .cards-btn-box {
        gap: 5px;
        justify-content: flex-start;
    }

    .butn {
        padding: 9px 5px;
    }

    .butn {
        font-size: 14px;
    }


    .why-choose-us-cards {
        min-height: 390px;
    }

    .footer-connect h3 {
        font-size: 27px;
        max-width: 310px;
        margin: 0 auto;
    }

    .pages-banner-text h1 {
        font-size: 50px;
    }

    /* Other Pages CSS Start */
    .privacy-policy-group h3,
    .terms-condtions-group h3,
    .personal-information-group h3,
    .return-refund-group h3,
    .contact-us-group h3,
    .about-us-group h3 {
        font-size: 22px;
    }

    .privacy-policy-group h4,
    .terms-condtions-group h4,
    .personal-information-group h4,
    .return-refund-group h4,
    .contact-us-group h4,
    .about-us-group h4 {
        font-size: 16px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .return-refund-group p,
    .contact-us-group p,
    .about-us-group p {
        font-size: 13px;
    }



    .main-navbar ul li a {
        padding: 10px 6px;
        font-size: 14px;
    }
    /* Other Pages CSS End */
}

@media screen and (max-width:991px) {
    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .main-navbar ul {
        flex-direction: column;

    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }

    .banner-image {
        height: 450px;
    }

    .pages-intro-text-wrapper p {
        font-size: 15px;
    }

    .home-page-category-cards {
        height: 280px;
    }

    h2.section-heading {
        font-size: 35px;
        max-width: 700px;
        margin: 0 auto;
    }

    .pages-cards-image {
        height: 270px;
    }

    .pages-cards-text3 p {
        font-size: 15px;
    }

    .ticket-book-btn,
    .hotel-book-btn {
        font-size: 15px;
    }

    .odd-pages-cards .pages-cards-content {
        min-height: 290px;
    }

    .pages-newsletter-wrapper h3 {
        max-width: 655px;
    }

    input.pages-newsletter-input {
        width: 45%;
        padding: 12px 25px;
    }

    .pages-newsletter-submit-button {
        padding: 12px 25px;
    }

    .why-choose-us-cards {
        min-height: 300px;
    }

    .accordion-body {
        font-size: 16px;
    }

    .accordion-button {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 15px;
    }

    .disclaimer-wrapper h3 {
        font-size: 29px;
    }

    .copyright p {
        font-size: 15px;
    }

    .footer-items {
        width: 30%;
    }

    .footer-items h3 {
        font-size: 25px;
    }

    .footer .footer-items ul li a {
        font-size: 16px;
    }

    .footer-items h3 {
        font-size: 25px;
    }

    .pages-banner-text h1 {
        font-size: 45px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .contact-us-group p,
    .about-us-group p {
        font-size: 15px;
    }

    /* Other Pages CSS Start */
    .privacy-policy-group h3,
    .terms-condtions-group h3,
    .personal-information-group h3,
    .return-refund-group h3,
    .contact-us-group h3,
    .about-us-group h3 {
        font-size: 28px;
    }

    .privacy-policy-group h4,
    .terms-condtions-group h4,
    .personal-information-group h4,
    .return-refund-group h4,
    .contact-us-group h4,
    .about-us-group h4 {
        font-size: 19px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .return-refund-group p.contact-us-group p,
    .about-us-group p {
        font-size: 16px;
    }

    .privacy-policy-group ul li,
    .terms-condtions-group ul li,
    .personal-information-group ul li,
    .return-refund-group ul li,
    .contact-us-group ul li,
    .about-us-group ul li {
        font-size: 16px;
    }

    /* Other Pages CSS End */

    /* Contact form CSS Start */
    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 8px;
        font-size: 14px;
    }

    #contact textarea {
        height: 90px;
    }

    .contact-us-group a img {
        height: 25px;
        width: 25px;
    }

    .fake-chat {
        padding: 9px 25px;
        font-size: 15px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 10px;
        font-size: 15px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select,
    #contact button[type="submit"] {
        width: 100%;
    }

    #contact button[type="submit"] {
        width: 40%;
        padding: 13px 20px;
    }

    /* Contact form CSS Start */

    /* Cookies CSS Start */
    .info p {
        font-size: 14px;
    }

    .button {
        width: calc(55% / 2 - 10px);
        font-size: 14px;
    }

    /* Cookies CSS End */

}

@media screen and (max-width:767px) {
    .logo img {
        max-width: 250px;
    }

    .banner-image {
        height: 400px;
    }

    .banner-text h1 {
        font-size: 60px;
    }

    .pages-intro-text-wrapper p {
        font-size: 14px;
    }

    .home-page-category-cards {
        height: 260px;
    }

    .home-page-category-cards-content h3 {
        font-size: 35px;
    }

    h2.section-heading {
        font-size: 34px;
        max-width: 560px;
    }

    .pages-cards-image {
        height: 250px;
    }

    .cards-btn-box {
        justify-content: flex-start;
    }

    .ticket-book-btn,
    .hotel-book-btn {
        font-size: 15px;
    }

    .pages-cards-content {
        min-height: 0px;
    }

    .hotel .odd-pages-cards .pages-cards-content {
        min-height: 0px;
    }

    .excursion .odd-pages-cards .pages-cards-content {
        min-height: 0px;
    }

    .pages-newsletter-wrapper h3 {
        max-width: 480px;
    }

    input.pages-newsletter-input {
        width: 45%;
        font-size: 15px;
        padding: 11px 25px;
    }

    .pages-newsletter-submit-button {
        padding: 11px 25px;
        font-size: 15px;
    }

    .why-choose-us-content p {
        font-size: 15px;
    }

    .why-choose-us-cards {
        min-height: 320px;
    }

    .accordion-body {
        font-size: 15px;
    }

    .accordion-button {
        font-size: 14px;
    }

    .accordion-body {
        font-size: 13px;
    }

    .accordion-button {
        font-size: 15px;
    }

    .accordion-body {
        font-size: 15px;
    }

    .disclaimer-wrapper h3 {
        font-size: 27px;
    }

    .disclaimer-wrapper p {
        font-size: 15px;
    }

    .footer-items h3 {
        font-size: 22px;
    }

    .footer .footer-items ul li a {
        font-size: 14px;
    }

    .pages-cards-text3 p {
        font-size: 15px;
    }

    .copyright p {
        font-size: 14px;
    }

    .pages-banner-text h1 {
        font-size: 40px;
    }


    /* Other Pages CSS Start */
    .privacy-policy-group h3,
    .terms-condtions-group h3,
    .personal-information-group h3,
    .return-refund-group h3,
    .contact-us-group h3,
    .about-us-group h3 {
        font-size: 25px;
    }

    .privacy-policy-group h4,
    .terms-condtions-group h4,
    .personal-information-group h4,
    .return-refund-group h4,
    .contact-us-group h4,
    .about-us-group h4 {
        font-size: 18px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .return-refund-group p,
    .contact-us-group p,
    .about-us-group p {
        font-size: 15px;
    }

    .privacy-policy-group ul li,
    .terms-condtions-group ul li,
    .personal-information-group ul li,
    .return-refund-group ul li,
    .contact-us-group ul li,
    .about-us-group ul li {
        font-size: 15px;
    }

    .privacy-policy-group p a,
    .terms-condtions-group p a,
    .personal-information-group p a,
    .return-refund-group p a,
    .contact-us-group p a,
    .about-us-group p a {
        font-size: 16px;
    }

    /* Other Pages CSS End */

    /* Contact form CSS Start */
    .form-image,
    .form-container {
        width: 100%;
    }

    .contact-us-group ul li a,
    .contact-us-group p a {
        font-size: 16px;
        font-weight: 500;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        padding: 12px;
        font-size: 14px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select,
    #contact button[type="submit"] {
        width: 100%;
    }

    #contact button[type="submit"] {
        width: 30%;
        padding: 13px;
        font-size: 15px;
        font-weight: 600;
    }

    /* Contact Form CSS Start */



    /* Cookies CSS Start */
    .wrapper {
        padding: 20px 10px;
    }

    .info p {
        font-size: 13px;
    }

    .button {
        font-size: 13px;
        padding: 6px;
    }

    /* Cookies CSS End */



}

@media screen and (max-width:575px) {
    .logo img {
        max-width: 220px;
    }

    .menu-icon {
        font-size: 23px;
    }

    .banner-image {
        height: 350px;
    }

    .banner-text h1 {
        font-size: 45px;
    }

    .pages-intro-text-wrapper p {
        font-size: 13px;
    }

    .home-page-category-cards {
        height: 240px;
    }

    .home-page-category-cards-content h3 {
        font-size: 40px;
    }

    h2.section-heading {
        font-size: 28px;
        max-width: 450px;
    }

    .pages-cards-image {
        height: 230px;
    }

    .cards-btn-box {
        justify-content: flex-start;
        gap: 5px;
    }

    .ticket-book-btn,
    .hotel-book-btn {
        font-size: 14px;
    }

    .pages-cards-text1 h4 {
        font-size: 23px;
    }

    .pages-cards-text3 h4 {
        font-size: 18px;
    }

    .pages-cards-content {
        min-height: 235px;
    }

    .pages-cards-text3 p {
        font-size: 14px;
    }

    input.pages-newsletter-input {
        width: 80%;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 30px;
    }

    .pages-newsletter-submit-button {
        padding: 10px 40px;
        font-size: 14px;
        border-radius: 30px;
        margin-top: 10px;
    }

    .why-choose-us-cards-wrapper>p {
        font-size: 15px;
    }

    .why-choose-us-content p {
        font-size: 14px;
    }

    .why-choose-us-content h4 {
        font-size: 22px;
    }

    .why-choose-us-cards {
        min-height: 0;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-button {
        font-size: 14px;
        padding: 16px 12px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .disclaimer-wrapper h3 {
        font-size: 25px;
    }

    .disclaimer-wrapper p {
        font-size: 14px;
    }

    .copyright p {
        font-size: 13px;
    }

    .lg-btm a img {
        max-width: 230px;
    }

    .logo-bottom {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-connect,
    .footer-links {
        width: 45%;
    }

    .footer-links {
        margin-left: 20px;
    }

    .footer-items h3 {
        font-size: 23px;
    }

    .footer .footer-items ul li a {
        font-size: 15px;
    }

    .pages-banner-text h1 {
        font-size: 33px;
    }

    /* Other Pages CSS Start */
    .privacy-policy-group h3,
    .terms-condtions-group h3,
    .personal-information-group h3,
    .contact-us-group h3,
    .about-us-group h3 {
        font-size: 22px;
    }

    .privacy-policy-group h4,
    .terms-condtions-group h4,
    .personal-information-group h4,
    .contact-us-group h4,
    .about-us-group h4 {
        font-size: 17px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .return-refund-group p,
    .contact-us-group p,
    .about-us-group p {
        font-size: 14px;
    }

    .privacy-policy-group ul li,
    .terms-condtions-group ul li,
    .personal-information-group ul li,
    .return-refund-group ul li,
    .contact-us-group ul li,
    .about-us-group ul li {
        font-size: 14px;
    }

    .privacy-policy-group p a,
    .terms-condtions-group p a,
    .personal-information-group p a,
    .return-refund-group p a,
    .contact-us-group p a,
    .about-us-group p a {
        font-size: 15px;
    }
    /* Other Pages CSS End */
      /* Contact Form CSS Start */

  .contact-us-group p,
  .contact-us-group ul li {
    font-size: 14px;
  }

  .contact-us-group ul li a,
  .contact-us-group p a {
    font-size: 15px;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact select {
    padding: 12px;
    font-size: 13px;
}

  #contact button[type="submit"] {
    width: 35%;
    padding: 13px;
    font-size: 14px;
    font-weight: 600;
  }
  #contact {
    padding: 0;
}
   /* Contact Form CSS End */


    /* Cookies CSS Start */
    .info p {
        font-size: 13px;
    }

    .button {
        width: calc(50% / 2 - 10px);
        font-size: 13px;
    }

    /* Cookies CSS End */
}

@media screen and (max-width:480px) {
    .logo img {
        max-width: 190px;
    }

    .menu-icon {
        font-size: 22px;
    }

    .banner-image {
        height: 300px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .pages-banner-text h1 {
        font-size: 30px;
    }

    .pages-intro-text-wrapper p {
        font-size: 12px;
    }

    .home-page-category-cards {
        height: 180px;
    }

    .home-page-category-cards-content h3 {
        font-size: 27px;
    }

    h2.section-heading {
        font-size: 26px;
    }

    .pages-cards-image {
        height: 200px;
    }

    .pages-cards-text1 h4 {
        font-size: 22px;
    }

    .pages-cards-text2 p {
        font-size: 13px;
    }

    .pages-cards-text3 h4 {
        font-size: 16px;
    }

    .cards-btn-box {
        gap: 5px;
    }

    .pages-cards-content {
        padding: 15px 10px;
        min-height: 210px;
    }

    .pages-newsletter-wrapper h3 {
        font-size: 17px;
    }

    .ticket-book-btn,
    .hotel-book-btn {
        font-size: 12px;
    }

    .pages-cards-text3 p {
        font-size: 13px;
    }

    .hotel .odd-pages-cards .pages-cards-content {
        min-height: 0px;
    }

    input.pages-newsletter-input {
        width: 90%;
        font-size: 14px;
    }

    .pages-newsletter-submit-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .why-choose-us-cards-wrapper>p {
        font-size: 14px;
    }

    .why-choose-us-content p {
        font-size: 13px;
    }

    .why-choose-us-cards {
        min-height: 0;
    }

    .why-choose-us-content h4 {
        font-size: 20px;
    }

    .accordion-button {
        font-size: 13px;
    }

    .accordion-body {
        font-size: 13px;
    }

    .disclaimer-wrapper h3 {
        font-size: 23px;
    }

    .disclaimer-wrapper p {
        font-size: 13px;
    }

    .footer-items {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
    }

    .footer-items:last-child {
        margin-bottom: 0px;
    }

    .footer .footer-items h3 {
        font-size: 23px;
        text-align: left;
        margin: 0;
    }

    .footer .footer-items ul li a {
        font-size: 15px;
    }

    .lg-btm a img {
        max-width: 200px;
    }

    .social-icons {
        justify-content: flex-start;
    }

    .disclaimer-wrapper {
        padding: 20px 10px;
    }

    .footer-links {
        margin-left: 0;
    }

    .copyright p {
        font-size: 12px;
    }

    /* Other Pages CSS Start */
    .privacy-policy-group,
    .terms-condtions-group,
    .personal-information-group,
    .return-refund-group .contact-us-group,
    .about-us-group
    {
        padding: 20px 12px;
    }

    .privacy-policy-group h3,
    .terms-condtions-group h3,
    .personal-information-group h3,
    .return-refund-group h3,
    .contact-us-group h3,
    .about-us-group h3 {
        font-size: 20px;
    }

    .privacy-policy-group h4,
    .terms-condtions-group h4,
    .personal-information-group h4,
    .return-refund-group h4,
    .contact-us-group h4,
    .about-us-group h4 {
        font-size: 16px;
    }

    .privacy-policy-group p,
    .terms-condtions-group p,
    .personal-information-group p,
    .return-refund-group p,
    .contact-us-group p,
    .about-us-group p {
        font-size: 13px;
    }

    .privacy-policy-group ul li,
    .terms-condtions-group ul li,
    .personal-information-group ul li,
    .return-refund-group ul li,
    .contact-us-group ul li,
    .about-us-group ul li {
        font-size: 13px;
    }

    /* Other Pages CSS End */

    /* Contact Us Page CSS Start */
  #contact {
    padding: 0;
  }

  .form-container {
    padding: 30px 5px;
  }
  .contact-us-group p,
  .contact-us-group ul li {
    font-size: 13px;
  }

  .contact-us-group ul li a,
  .contact-us-group p a {
    font-size: 14px;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact select {
    padding: 10px;
    font-size: 12px;
  }

  #contact button[type="submit"] {
    width: 40%;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
  }

  .contact-us-group a img {
    height: 17px;
    width: 17px;
  }
  /* Contact Us Page CSS End */


    /* Cookies CSS Start */
    .info p {
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .button {
        width: calc(80% / 2 - 10px);
        font-size: 13px;
    }

    /* Cookies CSS End */
}